# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/

# Node
node_modules/
build/
dist/

# Storage and logs
storage/
*.log
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
client_secret*.json
storage/client_secret*.json*
frontend/node_modules/.cache/default-development/19.pack
frontend/node_modules/.cache/default-development/14.pack
frontend/node_modules/.cache/default-development/16.pack
